* {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: rgb(97, 72, 40)
}

@media screen and (max-width: 280px){

    #sql_title{
        text-align: right;
        width: 100%;
    }

    #sql_title_div{
        text-align: right;
        width: 100%;
    }

    #sql_button {
        display: inline-block;
        text-align: right;
        margin-left: auto;
        margin-right: 15px;
      }

      #sql_index {
        display: inline-block;
        text-align: right;
        margin-left: auto !important;
      }

      #sql1 {
        margin: 0 !important;
      }

      #sql2{
        margin: 0 !important;
      }

      #responsive-navbar-nav{
        margin-right: -100px !important;
      }
}

@media screen and (min-width: 281px) and (max-width: 389px){

    #sql_title{
        text-align: right;
        width: 100%;
    }

    #sql_title_div{
        text-align: right;
        width: 100%;
    }

    #sql_button {
        display: inline-block;
        text-align: right;
        margin-left: auto;
        margin-right: 15px;
      }

      #sql_index {
        display: inline-block;
        text-align: right;
        margin-left: auto !important;
      }

      #sql1 {
        margin: 0 !important;
      }

      #sql2{
        margin: 0 !important;
      }

      #responsive-navbar-nav{
        margin-right: -180px !important;
      }
}

@media screen and (min-width: 390px) and (max-width: 415px){

    #sql_title{
        text-align: right;
        width: 100%;
    }

    #sql_title_div{
        text-align: right;
        width: 100%;
    }

    #sql_button {
        display: inline-block;
        text-align: right;
        margin-left: auto;
        margin-right: 15px;
      }

      #sql_index {
        display: inline-block;
        text-align: right;
        margin-left: auto !important;
      }

      #sql1 {
        margin: 0 !important;
      }

      #sql2{
        margin: 0 !important;
      }

      #responsive-navbar-nav{
        margin-right: -230px !important;
      }
}

@media screen and (min-width: 416px) and (max-width: 541px){

    #sql_title{
        text-align: right;
        width: 100%;
    }

    #sql_title_div{
        text-align: right;
        width: 100%;
    }

    #sql_button {
        display: inline-block;
        text-align: right;
        margin-left: auto;
        margin-right: 15px;
      }

      #sql_index {
        display: inline-block;
        text-align: right;
        margin-left: auto !important;
      }

      #sql1 {
        margin: 0 !important;
      }

      #sql2{
        margin: 0 !important;
      }

      #responsive-navbar-nav{
        margin-right: -360px !important;
      }
}